<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sonidos app
      <!-- <ion-button *ngIf="" onclick="iniciar_reordenar()">Reordenar</ion-button>
      <ion-button onclick="finalizar_reordenar()">Finalizar</ion-button> -->
    </ion-title>
    <ion-buttons slot="end" (click)="ordenarItems()">
      <ion-label *ngIf="!ordenar">Ordenar</ion-label>
      <ion-label *ngIf="ordenar">Finalizar</ion-label>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher [disabled]="ordenar" slot="fixed" (ionRefresh)="recargar_animales($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="Recargando...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-reorder-group [disabled]="!ordenar" (ionItemReorder)="reordenar_animales($event)">
        <ion-item-sliding [disabled]="ordenar" *ngFor="let animal of animales; let i = index">
              <ion-item (click)="reproducir(animal)">
                <ion-avatar item-start>
                  <img [src]="animal.imagen">
                </ion-avatar>
                <ion-label>{{ animal.nombre }}</ion-label>
                <ion-reorder slot="start"></ion-reorder>
                <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
                <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
              </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" 
                                (click)="borrar_animal( i )">
                  <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>
  
</ion-content>
